server:
  port: 8084

spring:
  application:
    name: course-service
  datasource:
    url: jdbc:postgresql://localhost:5432/codebyz_course
    username: postgres
    password: 122333
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB

jwt:
  secret: 5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437

auth:
  base-url: http://localhost:8081

app:
  timezone: Europe/Istanbul

springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /v3/api-docs
